@media only screen and (max-width: 480px) {
  .xs-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .logo{
    max-height: 40px;
  }

  .contact.cover h1, .about.cover h1{
    font-size: 2rem;
  }

  .xs-padding-5{
    padding: 5px !important;
  }
  .xs-padding-0{
    padding: 0px !important;
  }
  .xs-padding-x-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .title-1{
    font-size: 23px;
    letter-spacing: 2px;
    line-height: 1.375em;
  }
  
  .title-2{
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.375em;
    text-transform: uppercase;
    color: rgb(101, 102, 106);
    min-height: 25px;
  }
  
  .text{
    letter-spacing: 0.025em;
    line-height: 1.5em;
    font-size: 16px;
  }

  .xs-nowrap-scroll{
    flex-wrap: nowrap;
    overflow-x: scroll;
  }


  .shadow-2.college .btn{
    padding: 0rem 0.75rem !important;
    height: 45px;
  }

  .shadow-2.college .middle-divider{
    max-height: 125px;
  }

  .shadow-2.college {
    padding: 5% 1% 0%;
    align-items: flex-end;
  }

  .shadow-2.college h1{
    font-size: 19px;
    padding-top: 0px;
    padding-bottom: 10px;
    align-self: flex-start;
  }

  .shadow-2{
    padding: 20% 7% 12% 11%;
  }

  .shadow-2 h1{
    font-weight: 700;
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.375em;
    margin-bottom: 5px;
  }

  .shadow-2 .slide-text{
    position: relative;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.025em;
    line-height: 1.5em;
    font-size: 12px;
    max-width: 284px;
  }


  .shadow-2 .buttons {
      margin-top: 5px;
      display: inline-flex;
      max-height: 43px;
  }

  .college .school-search-result{
    max-height: 90px;
    overflow-y: scroll;
  }

  .carousel-item{
    min-height: 280px;
  }

  .carousel-item img{
    min-height: 300px;
    transform: scale(1);
    transform-origin: top;
  }

  .shadow-2 .buttons .btn-info {
    font-size: 12px;
    padding: 5px;
    margin-right: 5px !important;
    margin-bottom: 5px;
    height: 30px;
  }

  .shadow-2.college .buttons .btn-info{
    height: 43px;
    margin: 0px 7px;
  }

  .main-header .d-none {
    display: none !important;
  }

  .main-header .fs-5 {
    font-size: 20px !important;
  }

  .main-header .d-sm-none.d-flex{
    display: flex !important;
  }

  .navbar-dark .navbar-toggler{
    border: 1px solid #fff !important;
    padding: 4px 12px;
  }
  

  .nav.d-sm-none li a{
    padding: 4px 12px;
  }

  .navbar-toggler > i.fas{
    font-size: 20px;
  }

  .main-header .d-block.d-sm-none {
    display: block !important;
  }

  .link-list{
    display: flex;
    flex-direction: column;
  }

  .link-list a {
      padding: 1% 0% !important;
      font-size: 20px !important;
  }

  .navbar-toggler > i.fas{
    line-height: 1.3;
  }

  .dropdown.show > i.fa-caret-up{
    bottom: -23px;
  }

  .border-right-2-white{
    border-right: 0px transparent !important;
  }

  .cover{
    background-position: 58%;
  }

  .compact input.form-control {
    font-size: 13px;
    width: auto;
  }

  .cart-dropdown-menu.mini.show{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }

  .dropdown-menu.mini.show .cart-items{
    max-height: calc(100vh - 104px);
    overflow-y: scroll;
  }

  .dropdown-menu.mini.show .d-grid .cart-close{
    position: absolute;
    right: 5px;
    top: 5px;
  }

  main{
    padding-top: 68px;
  }

  .title-3 {
    font-size: 24px;
  }

  .cover.dashboard{
    padding: 5em;
  }

  .cover.human-resource-micro-internship{
    background: url('/img/micro-internship/1.jpeg') 50% 100% no-repeat black;
    padding: 2em;
  }

  .cover.accounting-micro-internship {
    background: url(/img/micro-internship/2.jpeg) 50% 100% no-repeat black;
    padding: 2em;
  }

  .cover.architecture-micro-internship {
    background: url(/img/micro-internship/3.jpeg) 30% 50% no-repeat black;
    padding: 2em;
  }

  .cover.information-technology-micro-internship {
    background: url(/img/micro-internship/4.jpeg) 50% 70% no-repeat black !important;
    padding: 2em;
  }

  .tab-content.college > i.fa.fa-angle-left {
      right: calc(100% - 20px);
  }

  .tab-content.college > i.fa.fa-angle-right {
    left: calc( 100% - 20px);
  }

  .middle-divider:after{
    content: "";
    height: 0px;
    opacity: 0;
    display: none;
  }

  .cover.ask-a-question{
    padding: 0em 0em 2em;
  }
}